version: "3.7"

services:
  jupyter:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: my-jupyter
    ports:
      - "8888:8888"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
